%{require_otp_vsn, "15B*|16B*"}.

{deps, [
        {erpcgen, ".*", {git, "https://github.com/leo-project/erpcgen.git"}}
       ]}.

{erl_opts, [{d, 'NOTEST'},
            warn_obsolete_guard,
            warnings_as_errors,
            warn_shadow_vars
           ]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, [
  "src/rpc*.erl",
  "src/pmap*.erl",
  "src/*_svc.erl",
  "src/*_xdr.erl",
  "src/*.hrl"
  ]}.
