%{require_otp_vsn, "15B*|16B*"}.

{deps, [
        {erpcgen, ".*", {git, "https://github.com/leo-project/erpcgen.git"}}
       ]}.

{erl_opts, [{d, 'NOTEST'},
            warn_obsolete_guard,
            warnings_as_errors,
            warn_shadow_vars
           ]}.

{pre_hooks, [{compile, "sh -c \"pushd deps/erpcgen/;make rpc;popd;cp deps/erpcgen/rpc/*.[he]rl src/;./deps/erpcgen/priv/erpcgen -a [svc_callback,xdr,hrl] src/nfs_prot3.x;./deps/erpcgen/priv/erpcgen -a [svc_callback,xdr,hrl] src/mount3.x\""}]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, [
  "src/pmap*.[eh]rl",
  "src/rpc*.[eh]rl",
  "src/mount3*.[eh]rl",
  "src/nfs_prot3*.[eh]rl"]}.
